# This source file is part of the Stanford Spezi Firebase Template project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
# SPDX-License-Identifier: MIT

[submodule "spezi-firebase-template-shared"]
	path = spezi-firebase-template-shared
	url = https://github.com/StanfordSpezi/spezi-firebase-template-shared
