
This source file is part of the Stanford Spezi Firebase Template project

{% for copyright_line in copyright_lines %}{{ copyright_line }}
{% endfor %}
{% for expression in spdx_expressions %}SPDX-License-Identifier: {{ expression }}
{% endfor %}